<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/alligator-21.05.tar.xz">alligator-21.05</a></td>
   <td align="right">166kB</td>
   <td><tt>d5394e7f2a7196165ab5961769c78c8b1a15f1b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/angelfish-21.05.tar.xz">angelfish-21.05</a></td>
   <td align="right">108kB</td>
   <td><tt>e547bac1960bb646585903393a66b049235c435e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/calindori-21.05.tar.xz">calindori-21.05</a></td>
   <td align="right">198kB</td>
   <td><tt>cdf419c05cf8304dee8eac6582f829eeb0d54e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/kalk-21.05.tar.xz">kalk-21.05</a></td>
   <td align="right">61kB</td>
   <td><tt>e7bbe814c6010015769f63b1f36ac9bced307a43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/kclock-21.05.tar.xz">kclock-21.05</a></td>
   <td align="right">1.4MB</td>
   <td><tt>773dd800f058b92acf4cc331d665f6e3739b1cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/koko-21.05.tar.xz">koko-21.05</a></td>
   <td align="right">98kB</td>
   <td><tt>ddd25f5e33548f26c66a9effde2ec400d4065369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/kongress-21.05.tar.xz">kongress-21.05</a></td>
   <td align="right">413kB</td>
   <td><tt>a3ceac5b888f412bac940ffcc4ae9529ac8f7826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/krecorder-21.05.tar.xz">krecorder-21.05</a></td>
   <td align="right">130kB</td>
   <td><tt>4f7357e5f3c59f2f6096ab325707c9f8d252023b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/ktrip-21.05.tar.xz">ktrip-21.05</a></td>
   <td align="right">198kB</td>
   <td><tt>25a1d6ad85b3454ea42b2aa43fe0c8b8bb9810e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/plasma-dialer-21.05.tar.xz">plasma-dialer-21.05</a></td>
   <td align="right">49kB</td>
   <td><tt>1e3bd2909c347f9f3ab9b09abd0ad95874b423a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/plasma-phonebook-21.05.tar.xz">plasma-phonebook-21.05</a></td>
   <td align="right">196kB</td>
   <td><tt>f5c19ab63a1133f992e50b4b678a4313014fa7c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/plasma-settings-21.05.tar.xz">plasma-settings-21.05</a></td>
   <td align="right">178kB</td>
   <td><tt>8bc96c52436d0c33fc10515fcb0c863a89b8dc1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/qmlkonsole-21.05.tar.xz">qmlkonsole-21.05</a></td>
   <td align="right">21kB</td>
   <td><tt>8a7bf0295413ae2c7af4b2ac1872a73573c54fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma-mobile/21.05/spacebar-21.05.tar.xz">spacebar-21.05</a></td>
   <td align="right">48kB</td>
   <td><tt>9a4ef8eea8a6c78c6a815f3e09b1204ac4a8cb1e</tt></td>
</tr>

</table>
